# 1. Python artifacts
__pycache__/
*.py[cod]
*$py.class

# 2. PyCharm IDE
.idea/
*.iml

# 3. Virtual environments
venv/
.venv/
env/

# 4. FastAPI configs & secrets
.env
*.db
test_db.db
*.log

# 5. Testing & docs
.pytest_cache/
.coverage
coverage.xml
docs/_build/

# 6. Miscellaneous
*.egg-info/
dist/
build/